* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
  }
  
  body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    background-color: skyblue;
  }
  
  .card-img-top {
    padding: 15px;
    height: 300px;
    width: auto;
  }
  
  .place__holder__image {
    width: 100%;
  }
  
  
  